<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="de.waldorfaugsburg.lessoncontrol.client">
    <Appenders>
        <Console name="SysOut" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n"/>
        </Console>
        <File name="File" fileName="${sys:user.home}/AppData/Roaming/LessonControl/client.log" append="false">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="SysOut" level="info"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
